<div class='row-fluid album-row'>
    <div class='span4'>
        {{title}}
    </div>
    <div class='span4'>
        {{artist}}
    </div>
    <div class='span4'>
        {{genre}}
    </div>
</div>
