<div class='container-fluid'>
    <div class='row-fluid'>
    <h1>Album Manager</h1>
    <h4>Pre-Alpha</h4>
    </div>
    <div class='row-fluid'>

             
        <div class='span6' id='left-panel'>
            <div class='row-fluid well well-small span12'>
                <input type="text" class="span4 input-title" placeholder="album name">
                <input type="text" class="span4 input-artist" placeholder="artist">
                <input type="text" class="span4 input-genre" placeholder="genre">
                <button class='btn add-album'>Add Album</button>
            </div>
            
            <div class='row-fluid'>
                <div class='span4 sorter btn' id='title-header'>
                Album
                </div>
                <div class='span4 sorter btn' id='artist-header'>
                Artist
                </div>
                <div class='span4 sorter btn' id='genre-header'>
                Genre
                </div>
            </div>
            
            <div class='row-fluid'>
                <div class='span12 well well-large' id='album-list'>
                List of albums
                </div>
            </div>

        </div>
    
        <div class='span6' id='right-panel'>
        
            <div class='row-fluid'>
                <div class='span12 well well-small' id='album-info'>
                    <div class='row-fluid'>
                        <div class='span6'>
                            <h3 id='display-album'>Album</h3>
                        </div>
                        <div class='span6'>
                            <div class='row-fluid'>
                                <div class='span12'>
                                    <h4 id='display-artist'>Artist</h3>
                                </div>
                            </div>
                            <div class='row-fluid'>
                                <div class='span12'>
                                    <h5 id='display-genre'>Genre</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class='row-fluid'>
                <div class='span12 well well-large' id='song-list'>
                List of songs
                </div>
            </div>
            <div class='row-fluid'>
            <div class='span12 well well-small'>
                <input type="text" class="span2 input-song-track" placeholder="track #">
                <input type="text" class="span6 input-song-title" placeholder="song title">
                <button class='btn add-song span3'>Add Song</button>
            </div>
            </div>
        </div>
                
    </div>
</div>

<div class="modal hide fade update-album">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4>Edit this album</h4>
    </div>
    <div class="modal-body">
        <div class='row-liquid'>
            <input type="text" class="edit-title" placeholder="album name"> <span class='muted'>album</span>
        </div>
        <div class='row-liquid'>         
            <input type="text" class="edit-artist" placeholder="artist"> <span class='muted'>artist</span>
        </div>  
        <div class='row-liquid'>
            <input type="text" class="edit-genre" placeholder="genre"> <span class='muted'>genre</span>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
        <button class="btn btn-primary save-edit">Save changes</button>
    </div>
</div>
