<div class='container-fluid'>
    <div class='row-fluid'>
    <h1>Header stuff here</h1>
    </div>
    <div class='row-fluid'>

             
        <div class='span6' id='left-panel'>
            <div class='row-fluid'>
                <div class='span4' id='album-header'>
                Album
                </div>
                <div class='span4' id='artist-header'>
                Artist
                </div>
                <div class='span4' id='genre-header'>
                Genre
                </div>
            </div>
            
            <div class='row-fluid'>
                <div class='span12 well well-large' id='album-list'>
                List of albums
                </div>
            </div>

        </div>
    
        <div class='span6' id='right-panel'>
        
            <div class='row-fluid'>
                <div class='span12' id='album-info'>
                Album Info (name, title, etc)
                </div>
            </div>
            
            <div class='row-fluid'>
                <div class='span12 well well-large' id='song-list'>
                List of songs
                </div>
            </div>
        </div>
                
    </div>
</div>
