<div class='row-fluid'>
    <div class='span2'>
    {{track}}
    </div>
    <div class='span9'>
    {{title}}
    </div>
    <div class='span1 btn btn-small delete-song' data-song-id='{{id}}'>
    x
    </div>
</div>

